In [2]:
# importing libraries 
import pandas as pd
import numpy as np
from apyori import apriori

In [3]:
# reading csv file 
df = pd.read_csv("Market_Basket_Optimisation.csv")
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# cleaning data
df.fillna(0.0,inplace = True)
df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
2,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
7497,chicken,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
7498,escalope,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [22]:
transactions = []

for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [32]:
transactions[0]

['burgers', 'meatballs', 'eggs', '0.0']

In [25]:
transactions[1]

['chutney', '0.0']

In [26]:
rules = apriori(transactions)
result = list(rules)


df_results = pd.DataFrame(result)
df_results.head()

            items   support                                ordered_statistics
0           (0.0)  1.000000                           [((), (0.0), 1.0, 1.0)]
1     (chocolate)  0.163867     [((), (chocolate), 0.16386666666666666, 1.0)]
2          (eggs)  0.179733          [((), (eggs), 0.17973333333333333, 1.0)]
3  (french fries)  0.170933  [((), (french fries), 0.17093333333333333, 1.0)]
4     (green tea)  0.132000                   [((), (green tea), 0.132, 1.0)]

In [27]:
support = df_results.support

In [28]:
#all four empty list which will contain lhs, rhs, confidance and lift respectively.
first_values = []
second_values = []
third_values = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. 
# first and second element was frozenset which need to be converted in list..
for i in range(df_results.shape[0]):
    single_list = df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [29]:
# convert all four list into dataframe for further operation..
lhs = pd.DataFrame(first_values)
rhs = pd.DataFrame(second_values)

confidance=pd.DataFrame(third_values,columns=['Confidance'])

lift=pd.DataFrame(fourth_value,columns=['lift'])

In [30]:
# concat all list together in a single dataframe
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df_final

                0             1   support  Confidance  lift
0             0.0          None  1.000000    1.000000   1.0
1       chocolate          None  0.163867    0.163867   1.0
2            eggs          None  0.179733    0.179733   1.0
3    french fries          None  0.170933    0.170933   1.0
4       green tea          None  0.132000    0.132000   1.0
5            milk          None  0.129600    0.129600   1.0
6   mineral water          None  0.238267    0.238267   1.0
7       spaghetti          None  0.174133    0.174133   1.0
8             0.0     chocolate  0.163867    0.163867   1.0
9            eggs           0.0  0.179733    0.179733   1.0
10            0.0  french fries  0.170933    0.170933   1.0
11            0.0     green tea  0.132000    0.132000   1.0
12            0.0          milk  0.129600    0.129600   1.0
13  mineral water           0.0  0.238267    0.238267   1.0
14            0.0     spaghetti  0.174133    0.174133   1.0